.icon{
    /* display: inline-flex; */
  float: right;
  
}
.header{
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 30px;
}
.customIcon{
    color: white;
    padding: 10px;
}
.heading    {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #302d2e;
    color: white;
    /* margin-bottom: 10px; */
    margin-top: 30px;

}
.post{
    flex: 1;
    margin-right: 25px;
}
body{
    margin: 0;
    padding: 0px;
}
.post1{
    flex: 1;
     max-width: 100%;
    height: 15cm;
    
}
/* div img{
    height: 15cm;
} */
.shopButton
{
    padding: 10px;
    background-color: rgb(219, 75, 22);
    color: white;
    width: 25%;
    border:rgb(219, 75, 22); 
}
.shopButton1
{
    padding: 10px;
    background-color: rgb(219, 75, 22);
    color: white;
    width: 100%;
    border:rgb(219, 75, 22);
}
.text{
    font-size:275%;
}
.text2{
    font-size:125%;
}
.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -20px;
  }
  .dot:hover{
    background-color: red;
  }
  .Products{
    flex: 1;
    /* float: left; */
  width: 30%;
  padding: 75px;
  height: 8cm;
  background-color: #302d2e;
  }
  .Featured{
    display:inline-flex ;
    width: 100%;
    color: white;
    height: 10cm;
    /* align-items: center; */
    position: relative;
    top: -10px;
  }
  section{
    background-color: #302d2e;
    color: white;
    margin-bottom: 50px;
    margin-top: 140px;
    
  }
  body{
background-color:  #302d2e;

  }
  .top1
  {
    position: relative;
    top: -90px;
    margin-bottom: -65px;
  }
  .text3{
    padding: 10px;
    margin-left: 30px;
  }
  .text4{
    padding: 10px;
    margin-left: 40px;
  }
  .text5{
    padding: 10px;
    margin-left: 80px;
  }
  .ProdMargin1{
    margin-top: 140px;
  }
  .ProdMargin2{
    margin-top: 90px;
  }
  .productDetails{
    display:flex;
    /* border: 2px solid black; */
    padding: 10px;
    /* position: relative;
    top: -10px; */
  }
  .productDetails img{
    width: 70%;
    position: relative;
    /* position: relative; */
    top: -30px;
    padding: -30px;
    margin-top: 45px;
    margin-bottom: 30px; 
    margin-left: -65px;
    /* height: 5cm; */
  }
  .productDetails div{
    border: 1px solid rgb(175, 164, 164);
    margin: 20px;
    padding: 25px;
    border-radius: 8px;
    /* height: 12cm; */
    margin-bottom: -26px;
    height: 12CM;
    /* 7 */
  }
  .center{
    width:109%;
    /* padding: 70px 0;
    text-align: center;
    line-height: 100px;
    height: 100px; */
    /* position: relative; */
    /* font-size: 16px;
    line-height: 24px; */
  }
  .center1{
    text-align: center;
    position: relative;
   top: 170px;
   font-size: 45px;
  /* transform: translateY(-1%); */
  color:white;
  }
  .button{
    width: 5%;
    height: 1cm;
    padding: 8px;
    /* x */
    margin: 30px;
    background-color: red;
    color: white;
    border: red;
  }
  .checked{
    color: orange;
    float: left;
    margin-top: 218px;
    padding: 3px;
    position: relative;
    top: 50px;
    /* margin: 3px; */
  }
  .button1{
    padding: 1px;
    margin: 20px;
    background-color: #302d2e;
    color: white;
    border: none;
  }
  .button1:hover{
    /* color: red; */
    background-color: red;
  }
  .center1 {
    cursor: pointer;
  }
  .rate{
    margin-top: 200px;
  }
  .top{
    margin-top: -80px;
    margin-bottom: -5px;
  }
  .custom-icon {
    font-size: 36px;
    color: #007bff;
}
.Advantage{
  /* width: 10cm; */
  /* padding: -5px; */
  /* margin-left: 20px; */
 /* margin: 53.05px;  */
  display: inline-block;
  font-size:45px;
  margin-right: 145.05px;
  padding-left: 33.05px;
  /* padding-right: -100px; */
  position: relative;
  left: 56px;
  top: 70px;
  font-size: 15px;
  color:  orangered;
  /* background-color: */
}
.brand{
  display: inline-block;
  padding: 5px;
  position: relative;
  top: -30px;
  font-size: 20px;
 color: white;
}
.brand1{
  display: flex;
  font-size: 15px;
  position: relative;
  top:-50px;
  left:60px;
  color: white;
}
/* footer{
  font-size: 15px;
  display: flex;
  background-color: black;
  color: white;
}
footer h1{
  padding: 10px;
  margin-left: 40px;
}
footer h3
{
  margin-left: 300px;
  margin: 160px;
  padding: 10px;
  display: flex;

}
footer
{
 margin-left: 300px; 
  padding: 10px;
}
.footer1{
  padding: 30px;
  
} */
footer div ul   {
  display: flex;
  background-color: black;
  color: white;
border: bl;
}
.Policies
{
  /* display: inline; */
  color: white;
}
/* popup css */
/* .button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
} */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 25%;
  position: relative;
  transition:all 5s ease-in-out;

}

.popup h2 {
  margin-top: 0;
  color: white;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  /* font-weight: bold; */
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: rgb(207, 115, 115)

}
.content1{
  color: white;
}
.content2{
  color: white;
  background-color: rgb(31, 28, 28);
  border: 1px solid white;
  margin: 3px;
  width: 90%;
  /* height: 20px; */
  padding: 13px;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  /* right:100px; */
  padding: 16px;
  transform: translate(33px, -60%);
}
.popup {
  background-color: rgb(31, 28, 28)
}
/* .close:hover {background: #bbb;} */
.Signup4{
  margin-left: 28px;
  padding: 7px;
  width: 23%;
  border: none;
}
.Signup1{
  background-color: #204c7b;
}
.Signup2{
  background-color: red;
}
.Signup3{
  background-color: rgb(40, 89, 224);
}
.login{
  display: flex;
  flex-direction: row;

}
.login:before,
.login:after {
            content:"";
            flex: 1;
            border-bottom: 1px solid white;
            margin: auto;

        }

.footer1{
display: block;
/* padding: -60px; */
margin-left: 220px;
padding: 20px;
position: relative;
top: -75px;
left: -70px;
list-style-type: none;
}
.help{
  margin-bottom: 90px;
  /* position: relative; */
  /* left: 10px; */
  /* padding-left: 155px; */
  /* display: block; */
  margin-left: 170px;
}
.footer{
  position: relative;
  top:60px;
  left: -150px;
}
footer{
  list-style-type: none;
}
  .email{
  /* margin:90PX;
  padding-left: 30PX;
  width: 75%;
  height: 10%;
  border: 1PX solid white;
  border-radius:4px;
  background: black;
  padding: 6PX;
  font-size: 1PX;
   */ 
   position: relative;
   left: -150PX;
   top: 35PX;
   width: 95%;
   height:9% ;
   border-radius: 6PX;
} 
.Subscribe{
  padding-bottom: 70px;
  color: white;
  background-color: orange;
}